.mob-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.mob-menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.mob-menu_status_opened {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: flex-end;
  right: 0;  
}

.mob-menu_status_closed {  
  position: static;
}

.mob-menu__list_logged {
  background-color: #fff;
  flex-direction: column;
  gap: 28px;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 67%;
}

.mob-menu__item:last-child {
  margin: auto 0 90px 0;
}

.mob-menu__item:first-child {
  margin-top: 159px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center; 
  color: #000000;
  text-decoration: none;
}

.mob-menu__button-close {
  background-image: url("../../images/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 22.4px;
  right: 22.4px;
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}
