.movies-card {
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 134px;
}

.movies-card__poster {
  height: 100%;
  /* object-fit: contain; */
  padding: 6px;
  width: 220px;
}

.movies-card__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 22px;
}

.movies-card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  padding-bottom: 13px;
  margin: 0;
}

.movies-card__button {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: 50% 50%;
  padding: 0;
  cursor: pointer;
}

.movies-card__button_save {
  background-image: url("../../images/icon-save.svg");
}

.movies-card__button_save-active {
  background-image: url("../../images/icon-save-active.svg");
}

.movies-card__button_unsave {
  background-image: url("../../images/icon-unsave.svg");
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .movies-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card {
    flex-direction: column-reverse;
    height: 100%;
  }

  .movies-card__poster {
    padding: 0;
    width: 100%;
  }

  .movies-card__description {
    flex-direction: row;
    padding: 14px 16px 14px 12px;
  }

  .movies-card__title {
    max-width: 280px;
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 8px;
  }
}
