.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
}

.portfolio__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-direction: column;
  padding: 0 70px 125px;
}

.portfolio__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #a0a0a0;
  margin: 0;
}

.portfolio__item {
  display: flex;
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.portfolio__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: #000;
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link::after {
  content: "";
  width: 24px;
  height: 18px;
  background-image: url("../../images/link.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 0 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media screen and (max-width: 420px) {
  .portfolio__container {
    gap: 40px;
    padding: 70px 18px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.56;
  }
}
