.promo {
  display: flex;
  max-width: 1280px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.promo__container {
  display: flex;
  /* max-width: 1280px; */
  width: 100%;
  background-image: url("../../images/promo-logo.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;
  flex-direction: column;
}

.promo__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  padding: 0;
  margin: 0;
  padding: 184px 275px 284px;
}

.promo__nav {
  width: 100%;
  background: #f5f5f5;
}

.promo__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 24px 0;

}

.promo__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #000000;
  
}
