.promo {
  display: flex;  
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #dddee3;
}

.promo__container {
  display: flex;
  max-width: 1280px;
  /* width: 100%; */
  background-image: url("../../images/promo-logo.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;
  flex-direction: column;
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  padding: 0;
  margin: 0;
  padding: 184px 275px 284px;
}
