.navigation {
  display: flex;
  /* flex-direction: column;
  width: 100%; */
  align-items: center;
  /* background-color: #dddee3; */
  /* background-color: #fff; */
}

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  align-items: center;
}

.navigation__list-loggedin {
  gap: 20px;
}

.navigation__link-signin {
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  padding: 8px 20px;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  display: flex;
  align-items: center;
  text-align: right;
  /* color: #000000; */
  text-decoration: none;
}

.navigation__link-account {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 92%;
  color: #000000;
  background: #fafafa;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  min-height: 32px;
  position: relative;
  padding-left: 11px;
  padding-right: 36px;
  margin-left: 364px;
  /* margin-right: 70px; */
}

.navigation__link-account::after {
  position: absolute;
  content: "";
  top: 3px;
  right: 3px;
  bottom: 3px;
  width: 26px;
  height: 26px;
  background: #f4f4f4;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icon-account.svg");
}
