.search-form__form {
  width: 100%;
  position: relative;
  display: flex;
}

.search-form {
  max-width: 1280px;
  width: 100%;
  padding: 60px 70px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-form__input {
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  border-radius: 40px;
  color: #a0a0a0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  padding: 14px 20px;
}

.search-form__button {
  border: none;
  background-color: #3456f3;
  background-image: url("../../images/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  box-sizing: border-box;
  width: 80px;
  height: 34px;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 48px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-form__button:hover {
  opacity: 0.7;
}

.search-form__input::placeholder {
  color: #a0a0a0;
  /* padding-left: 20px; */
}

.search-form__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  top: 45px;
  left: 20px;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 73px 30px 61px;
  }
}

@media screen and (max-width: 420px) {
  .search-form {
    padding: 85px 14px 50px;
  }

  .search-form__input {
    font-size: 11px;
    line-height: 18px;
  }
}
