.tooltip__container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear 0.5s, opacity 0.5s linear;
  background: rgba(0, 0, 0, 0.5);
}

.tooltip__container_opened {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 430px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}

.tooltip__img {
  max-width: 120px;
  height: 120px;
  margin: 10px auto 30px;
}

.tooltip__caption {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: #000000;
  max-width: 358px;
}

.tooltip__close-button {
  background: url(../../images/Icon-close-white.svg) no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.tooltip__close-button:hover {
  opacity: 0.7;
}

.tooltip__img_failure {
  background-image: url(../../images/failure.svg);
}

.tooltip__img_success {
  background-image: url(../../images/success.svg);
}

@media screen and (max-width: 520px) {
  .tooltip {
    max-width: 300px;
    padding: 25px 22px;
  }

  .tooltip__img {
    margin: 25px auto 40px;
  }

  .tooltip__close-button {    
    top: -38px;
    right: 0;
  }
}
