.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* background-color: #dddee3;
  flex-direction: column;
  align-items: center; */
}

.header__container {
  max-width: 1280px;
  width: 100%;
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  /* height: 74px; */
  /* padding: 0;
  margin: 0 70px; */
  /* align-items: center; */
}

.header__logo {
  width: 38px;
  height: 38px;
}

/* .header__navbar {
  display: flex;
}

.header__navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  align-items: center;
}

.header__navbar-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
  text-decoration: none;
}

.header__navbar-link_signin {
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  padding: 8px 20px;
} */


.header_theme_nologged {
  background-color: #dddee3;
}

.header_theme_logged {
  background-color: #fff;
}