.header {
  display: flex;
  width: 100%;
  background-color: #dddee3;
  flex-direction: column;
  align-items: center;
}
.header__top-bar {
  max-width: 1280px;
  width: 100%;
  height: 74px;
  /* padding: 18px 70px; */
  padding: 0;
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__navbar {
  display: flex;
}

.header__navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  align-items: center;
}

.header__navbar-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
  text-decoration: none;
}

.header__navbar-link_signin {
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  padding: 8px 20px;
}
