.filter-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 174px;
  height: 20px;
  margin-top: 41px;
}

.filter-checkbox__checkbox {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.filter-checkbox__checkbox::after {
  content: "";
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 20px;
  width: 36px;
  height: 20px;
}

.filter-checkbox__checkbox:focus {
  border-radius: 10px;
}

.filter-checkbox__tumbler {
  position: absolute;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  left: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-checkbox__checkbox:checked + .filter-checkbox__tumbler {
  left: 22px;
}

.filter-checkbox__checkbox:checked::after {
  background-color: #2be080;
}

.filter-checkbox__text {
  margin: 0;
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  right: 0;
  transition: all 0.3s ease;
}

.filter-checkbox__text:hover {
  opacity: 0.7;
}

@media screen and (max-width: 420px) {
  .filter-checkbox {
    width: 148px;
  }

  .filter-checkbox__text {
    font-size: 11px;
    line-height: 1.64;
  }
}
