.register {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 70px 0px; */
  padding: 70px 30px 59px;
}

.register__form {
  width: 100%;
  max-width: 396px;
  min-height: 525px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
  margin: 0;
}

.register__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.register__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.register__label-title {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #a0a0a0;
  margin-bottom: 10px;
  padding: 0;
}

.register__input {
  border-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background: #f4f4f4;
  border-radius: 8px;
  color: #000;
  padding: 10px 15px;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  margin-top: 10px;
  position: absolute;
  left: 0;
  top: 47px;
}

.register__button {
  border-style: none;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  padding: 14px 0;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  margin-top: auto;
}

.register__button:hover {
  opacity: 0.7;
}

.register__link {
  color: #3456f3;
  text-decoration: none;
  line-height: 0;
  max-width: 38px;
  transition: all 0.3s ease;
}

.register__link:hover {
  opacity: 0.7;
}

.register__logo {
  width: 38px;
  height: 38px;
  transition: all 0.3s ease;
}

.register__logo:hover {
  opacity: 0.7;
}

.register__details {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #a0a0a0;
  text-align: center;
  position: absolute;
  bottom: -5%;
  left: 15%;
}

.register__input-password {
  color: #ee3465;
}

.register__button-disabled {
  background-color: #f4f4f4;
  color: #a0a0a0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .register {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 420px) {
  .register__form {
    align-items: center;
    max-width: 260px;
  }

  .register__button {
    font-size: 12px;
    line-height: 1.25;
  }

  .register__details {
    font-size: 12px;
    line-height: 1.25;
    bottom: -6%;
    left: 4%;
  }
}
