.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__container {
  max-width: 1280px;
  width: 100%;
  padding: 79px 70px 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  padding: 0;
  margin: 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  align-items: center;
  padding-top: 20px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 420px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__nav {
    flex-direction: column-reverse;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    margin-top: 30px;
    color: #a0a0a0;
  }
}
