.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__container {
  max-width: 1280px;
  width: 100%;
  padding: 79px 70px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
  flex-direction: column;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  padding: 0;
  margin: 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  align-items: center;
  padding-top: 20px;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
  text-decoration: none;
}
