.login {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 70px 0px; */
  padding: 70px 30px 59px;
}

.login__form {
  width: 100%;
  max-width: 396px;
  min-height: 525px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
  margin: 0;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.login__label {
  width: 100%;
  display: flex;
  flex-direction: column;

  cursor: pointer;
  position: relative;
}

.login__label-title {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #a0a0a0;
  margin-bottom: 10px;
  padding: 0;
}

.login__input {
  border-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background: #f4f4f4;
  border-radius: 8px;
  color: #000;
  padding: 10px 15px;
}

.login__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  margin-top: 10px;
}

.login__button {
  border-style: none;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  padding: 14px 0;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  margin-top: 139px;
}

.login__link {
  transition: all 0.3s ease;
  color: #3456f3;
  text-decoration: none;
  line-height: 0;
  max-width: 38px;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__details {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #a0a0a0;
  text-align: center;
  margin-top: -10px;
}

.login__button-disabled {
  background-color: #f4f4f4;
  color: #a0a0a0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .login {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 420px) {
  .login__form {
    align-items: center;
    max-width: 260px;
  }
  .login__button {
    font-size: 12px;
    line-height: 1.25;
  }

  .login__details {
    font-size: 12px;
    line-height: 1.25;
    bottom: -6%;
    left: 4%;
  }
}
