.nav-tab {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.nav-tab__container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  padding: 0px 70px;
  justify-content: center;
}

.nav-tab__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 24px 0;
}

.nav-tab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #000000;
  transition: all 0.3s ease;
}

.nav-tab__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 420px) {
  .nav-tab__link {
    font-size: 11px;
    line-height: 1.45;
  }

  .nav-tab__container {
    padding: 0;
    margin: 0 53px;
  }
}
